.fJztkS {
  min-height: 0vh !important;
  background-color: transparent !important;
  margin-bottom: 0 !important;
}

.butPHH {
  background-color: transparent !important;
  min-height: 0vh !important;
}
